# RAINFALL DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

In [2]:
rain = pd.read_excel('Rajasthan Rainfall 1901-2002 + 2004-2010.xlsx')
df = pd.DataFrame(rain)
df.head()

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
0,Rajasthan,Ajmer,2004,2.3,0.0,0.0,0.0,13.4,21.1,120.4,282.5,15.4,11.6,0.0,0.0,466.7
1,Rajasthan,Ajmer,2005,0.2,2.9,9.5,28.1,2.4,57.0,148.1,79.9,170.6,0.0,0.0,0.0,498.7
2,Rajasthan,Ajmer,2006,0.0,0.0,0.7,0.0,29.0,48.3,101.7,219.4,43.4,0.1,0.0,0.0,442.6
3,Rajasthan,Ajmer,2007,0.4,10.6,4.5,0.5,0.9,47.1,172.9,92.6,46.3,0.0,0.0,1.8,377.6
4,Rajasthan,Ajmer,2008,0.0,0.0,0.4,5.7,15.4,89.7,86.4,189.7,85.9,19.1,0.0,0.0,492.3

## IDENTIFYING MISSING YEARS AND ADDING 2011 TO 2019 DATA

In [3]:
df.Year.unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002],
      dtype=int64)

### CLEANING DATA

In [5]:
df.District.value_counts()

Barmer             109
Ajmer              109
Bharatpur          109
Jaisalmer          109
Jaipur             102
Baran              102
Chittaurgarh       102
Churu              102
Jalor              102
Sawai Madhopur     102
Pali               102
Sikar              102
Jhalawar           102
Bundi              102
Bikaner            102
Sirohi             102
Bhilwara           102
Alwar              102
Nagaur             102
Udaipur            102
Tonk               102
Ganganagar         102
Jodhpur            102
Rajsamand          102
Banswara           102
Hanumangarh        102
Dungarpur          102
Kota               102
Karauli            102
Jhunjhunun         102
Dhaulpur           102
Dausa              102
 Rajsamand           7
 Tonk                7
 Jhunjhunu           7
 Jodhpur             7
 Banswara            7
 Karauli             7
 Dholpur             7
 Sikar               7
 Jhalawar            7
 Jaipur              7
 Dungarpur           7
 Baran               7
 Jalore              7
 Sri Ganganagar      7
 Chittorgarh         7
 Pali                7
 Alwar               7
 Bundi               7
 Udaipur             7
 Sirohi              7
 Churu               7
 Hanumangarh         7
 Dausa               7
 Sawaimadhopur       7
 Bhilwara            7
 Bikaner             7
 Kota                7
 Nagaur              7
Name: District, dtype: int64

In [6]:
df.District.replace({' Jaipur': 'Jaipur', ' Kota': 'Kota', ' Bundi':'Bundi', ' Jalore':'Jalore', ' Karauli':'Karauli', 
                     ' Rajsamand': 'Rajsamand', ' Tonk': 'Tonk', ' Dholpur':'Dholpur', ' Sri Ganganagar':'Ganganagar',
                    ' Sawaimadhopur': 'Sawai Madhopur', ' Pali': 'Pali', ' Jodhpur':'Jodhpur', ' Bikaner':'Bikaner', ' Bhilwara':'Bhilwara', ' Alwar':'Alwar',
                    ' Baran':'Baran', ' Sirohi':'Sirohi', ' Chittorgarh':'Chittorgarh', 'Chittaurgarh':'Chittorgarh', 
                     ' Udaipur':'Udaipur', ' Hanumangarh':'Hanumangarh', ' Jhalawar':'Jhalawar', ' Dausa': 'Dausa', 
                     ' Nagaur': 'Nagaur', ' Sikar': 'Sikar', 'Dhaulpur':'Dholpur', ' Churu':'Churu', ' Banswara':'Banswara',
                    ' Jhunjhunu': 'Jhunjhunu', 'Jalor':'Jalore', ' Dungarpur' : "Dungarpur"}, regex = True, inplace = True)

In [7]:
df.District.value_counts()

Dausa             109
Churu             109
Barmer            109
Udaipur           109
Jaipur            109
Baran             109
Ajmer             109
Bundi             109
Bhilwara          109
Pali              109
Alwar             109
Sirohi            109
Bikaner           109
Chittorgarh       109
Sawai Madhopur    109
Jhalawar          109
Sikar             109
Jaisalmer         109
Ganganagar        109
Jodhpur           109
Rajsamand         109
Banswara          109
Dungarpur         109
Nagaur            109
Kota              109
Karauli           109
Tonk              109
Dholpur           109
Bharatpur         109
Hanumangarh       109
Jhunjhunun        102
Jalore            102
Jhunjhunu           7
Jaloree             7
Name: District, dtype: int64

In [8]:
df.District.replace({'Jhunjhunun':'Jhunjhunu', 'Jaloree':'Jalore'}, regex=True, inplace=True)

In [9]:
df.District.value_counts()

Dausa             109
Jhalawar          109
Barmer            109
Udaipur           109
Jaipur            109
Jhunjhunu         109
Baran             109
Jalore            109
Ajmer             109
Bundi             109
Bhilwara          109
Pali              109
Alwar             109
Sirohi            109
Bikaner           109
Chittorgarh       109
Sawai Madhopur    109
Sikar             109
Churu             109
Jaisalmer         109
Nagaur            109
Bharatpur         109
Dholpur           109
Tonk              109
Karauli           109
Ganganagar        109
Kota              109
Dungarpur         109
Banswara          109
Rajsamand         109
Jodhpur           109
Hanumangarh       109
Name: District, dtype: int64

### ADDING 2003 DATA FOR ALL DISTRICTS

In [10]:
for i in df.District.value_counts().index:
    x = list(df[df['District']==i].mean(axis=0))
    x[0] = 2003
    x.insert(0,"Rajasthan")
    x.insert(1,i)
    df.loc[len(df.index)] = x

In [11]:
df.tail(32)

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
3488,Rajasthan,Dausa,2003,5.123330,6.305101,3.813725,4.424523,11.837266,61.463211,239.584018,210.307312,99.367633,9.878734,7.174972,3.807092,663.086917
3489,Rajasthan,Jhalawar,2003,4.988413,1.783037,2.723917,1.411697,5.684174,97.202771,277.382807,277.548606,187.924431,18.841541,21.799927,4.448532,901.739853
3490,Rajasthan,Barmer,2003,1.116064,2.516844,3.459339,2.686266,3.976193,27.135422,97.847917,92.807514,46.639936,5.515339,5.077706,1.283303,290.061844
3491,Rajasthan,Udaipur,2003,3.503450,1.375183,3.266119,2.286229,8.990587,84.871716,276.576294,244.719450,135.130495,10.437633,12.330083,2.008743,785.495982
3492,Rajasthan,Jaipur,2003,5.036688,6.200963,4.511459,4.905807,12.760055,58.239954,208.908349,172.594266,85.475376,9.081780,6.273486,3.878752,577.866936
3493,Rajasthan,Jhunjhunu,2003,6.316679,9.208706,5.124541,6.669752,14.393055,42.753899,160.850927,131.647321,63.046440,5.040229,5.092890,4.101229,454.245670
3494,Rajasthan,Baran,2003,6.897055,2.673128,3.403541,1.975972,5.273459,75.900257,269.347128,259.275165,156.376963,16.712743,15.380624,3.409523,816.625560
3495,Rajasthan,Jalore,2003,1.569073,1.720853,3.380670,1.685734,5.089413,44.412358,163.481936,136.795349,73.434505,7.246193,6.808817,1.384881,447.009780
3496,Rajasthan,Ajmer,2003,3.119945,3.192862,4.688596,4.092156,9.927257,54.930037,179.536578,164.711596,87.627459,8.664450,9.266780,2.429606,532.187321
3497,Rajasthan,Bundi,2003,4.781110,2.576064,4.005239,1.771303,8.175899,71.165807,236.649761,229.856358,126.978220,14.362587,15.437486,3.010083,718.769917
3498,Rajasthan,Bhilwara,2003,3.117688,2.455872,5.533817,2.494147,9.690936,68.119128,200.653303,193.914578,111.178899,11.590092,15.561367,2.389183,626.699009
3499,Rajasthan,Pali,2003,2.825972,2.437853,4.007266,3.446862,7.928578,49.718450,177.276266,161.930633,87.147587,9.249376,7.408321,1.144064,514.521229
3500,Rajasthan,Alwar,2003,7.900954,10.117651,5.797982,6.166294,13.446349,54.573606,209.480927,190.955532,91.942358,8.182862,6.310257,4.384211,609.258982
3501,Rajasthan,Sirohi,2003,2.819606,1.739523,3.515862,1.904725,6.783202,57.609807,234.841569,190.274101,106.019128,9.262789,8.389945,2.750083,625.910339
3502,Rajasthan,Bikaner,2003,3.489872,6.053606,5.291835,10.246128,10.845945,27.748165,80.392440,72.128358,33.208294,2.747936,1.521817,2.574385,256.248780
3503,Rajasthan,Chittorgarh,2003,2.618789,1.616312,3.780477,1.931872,8.453523,93.386404,263.768165,247.260505,148.734385,15.053073,18.866257,2.692945,808.162706
3504,Rajasthan,Sawai Madhopur,2003,5.575101,4.426165,3.463807,3.290945,10.044275,62.338257,254.529092,233.661780,111.858046,11.459780,10.053477,2.935615,713.636339
3505,Rajasthan,Sikar,2003,5.333752,7.595917,4.534716,6.703284,13.858798,46.889890,169.912358,133.459881,63.939890,5.926385,5.475927,3.636936,467.267734
3506,Rajasthan,Churu,2003,5.165156,7.530220,5.500734,9.177899,13.918771,35.814303,119.530431,101.304532,45.668514,4.098550,2.878596,3.858092,354.445798
3507,Rajasthan,Jaisalmer,2003,1.708954,4.452156,3.598615,3.213174,3.870385,20.521110,57.535165,60.101358,24.871560,3.161468,1.802697,2.507633,187.344275
3508,Rajasthan,Nagaur,2003,3.411661,5.130339,4.150936,6.330266,10.621073,41.178394,140.737982,122.203844,58.245761,6.582661,4.955991,2.006073,405.554982
3509,Rajasthan,Bharatpur,2003,7.999936,7.189128,4.747000,4.760890,11.539872,52.580661,237.530073,237.552450,106.666367,9.198642,6.666477,4.360394,690.791890
3510,Rajasthan,Dholpur,2003,8.128606,5.557908,4.053606,3.802083,9.904789,53.364615,271.285917,266.654339,120.466183,12.779193,7.742110,3.802532,767.541881
3511,Rajasthan,Tonk,2003,4.121358,2.666505,4.271339,2.682312,9.502697,59.097174,216.025844,199.695908,104.100826,9.808202,10.080018,2.895037,624.947220
3512,Rajasthan,Karauli,2003,6.761202,5.532917,3.690028,3.525523,10.628128,62.009404,268.315752,251.904367,112.825771,11.141752,9.634009,3.252349,749.221202
3513,Rajasthan,Ganganagar,2003,4.283046,8.202321,7.737945,10.048422,10.142128,24.487275,71.000716,63.066606,27.973661,1.935514,1.623431,4.245183,234.746248
3514,Rajasthan,Kota,2003,5.893431,2.288550,3.518881,1.735037,6.835495,77.701606,259.416679,255.930578,147.234303,17.963266,16.884486,3.150450,798.552761
3515,Rajasthan,Dungarpur,2003,2.402495,0.432450,1.355523,2.073266,8.666523,112.480092,332.180294,277.972303,146.901266,11.344110,11.090606,1.726963,908.625890
3516,Rajasthan,Banswara,2003,1.119688,0.615817,2.042569,1.452165,6.201642,122.264734,324.438128,283.912927,171.575881,13.804468,13.666330,2.108202,943.202550
3517,Rajasthan,Rajsamand,2003,4.889991,2.813367,6.352725,3.696706,8.817642,60.934358,200.247266,185.291826,108.451486,9.521275,13.809275,1.576633,606.402550
3518,Rajasthan,Jodhpur,2003,1.885560,4.495826,3.723312,5.399670,7.842550,31.369376,100.273018,98.726367,47.160275,5.217881,4.261147,1.307569,311.662550
3519,Rajasthan,Hanumangarh,2003,5.819826,8.147743,7.068633,8.905798,11.815018,30.705697,96.372330,84.289119,39.125899,2.680881,2.044486,4.152835,301.128266

### ADDING 2011 TO 2017 DATA

In [12]:
rain_11_17 = pd.read_excel("Book (2).xlsx")
df1 = pd.DataFrame(rain_11_17)
df1.head()

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
0,Rajasthan,Ajmer,2015,0.0,1.5,2.0,0.0,1.2,51.5,220.7,110.7,4.1,0.0,0.0,0.0,391.7
1,Rajasthan,Alwar,2015,0.0,1.0,164.0,0.0,47.6,34.4,116.2,133.2,55.3,5.4,3.2,0.0,560.3
2,Rajasthan,Banswara,2015,0.0,0.0,0.0,0.0,0.0,122.6,407.7,109.1,26.1,0.7,0.0,0.0,666.2
3,Rajasthan,Ваran,2015,0.0,0.0,2.5,0.0,5.6,130.4,398.3,329.5,20.3,0.5,0.0,1.6,888.7
4,Rajasthan,Bharatpur,2015,0.0,0.0,0.4,0.0,23.7,54.0,161.7,158.8,185.0,16.1,1.0,3.7,604.4

In [13]:
df1.District.unique()

array(['Ajmer', 'Alwar', 'Banswara', 'Ваran', 'Bharatpur', 'Bhilwara',
       'Bundi', 'Chittorgarh', 'Dausa', 'Dholpur', 'Dungarpur', 'Јаipur',
       'Jhalawar', 'Jhunjhunu', 'Karauli', 'Kota', 'Pratapgarh',
       'Rajsamamd', 'Sawai Madhopur', 'Sikar', 'Sirohi', 'Тоnk',
       'Udaipur', 'Вarmer', 'Bikaner', 'Churu', 'Наnumangarh',
       'Jaisalmer', 'Јаlore', 'Jodhpur', 'Nagour', 'Раli', 'Ganganagar',
       'AJMER', 'JAIPUR', 'DAUSA', 'TONK', 'SIKAR', 'JHUNJHUNU', 'NAGAUR',
       'ALWAR', 'BHARATPUR', 'DHOLPUR', 'SAWAI MADHOPUR', 'KARAULI',
       'BIKANER', 'CHURU', 'JAISALMER', 'GANGANAGAR', 'HANUMANGARH',
       'JODHPUR', 'BARMER', 'JALORE', 'PALI', 'SIROHI', 'KOTA', 'BARAN',
       'BUNDI', 'JHALAWAR', 'BANSWARA', 'DUNGARPUR', 'UDAIPUR',
       'BHILWARA', 'CHITTORGARH', 'RAJSAMAND'], dtype=object)

In [14]:
df1.District.replace({'AJMER':'Ajmer','JAIPUR':'Jaipur','DAUSA':'Dausa','TONK':'Tonk','SIKAR':'Sikar','JHUNJHUNU':'Jhunjhunu',
                    'NAGAUR':'Nagaur','Nagour':'Nagaur','ALWAR':'Alwar','BHARATPUR':'Bharatpur','DHOLPUR':'Dholpur',
                    'SAWAI MADHOPUR':'Sawai Madhopur','KARAULI':'Karauli','BIKANER':'Bikaner','CHURU':'Churu',
                    'JAISALMER':'Jaisalmer','GANGANAGAR':'Ganganagar','HANUMANGARH':'Hanumangarh','JODHPUR':'Jodhpur',
                    'BARMER':'Barmer','JALORE':'Jalore','PALI':'Pali','SIROHI':'Sirohi','KOTA':'Kota','BARAN':'Baran',
                    'BUNDI':'Bundi','JHALAWAR':'Jhalawar','BANSWARA':'Banswara','DUNGARPUR':'Dungarpur','UDAIPUR':'Udaipur',
                    'BHILWARA':'Bhilwara','CHITTORGARH':'Chittorgarh','RAJSAMAND':'Rajsamand'}, regex=True, inplace=True)

In [15]:
df1.District.unique()

array(['Ajmer', 'Alwar', 'Banswara', 'Ваran', 'Bharatpur', 'Bhilwara',
       'Bundi', 'Chittorgarh', 'Dausa', 'Dholpur', 'Dungarpur', 'Јаipur',
       'Jhalawar', 'Jhunjhunu', 'Karauli', 'Kota', 'Pratapgarh',
       'Rajsamamd', 'Sawai Madhopur', 'Sikar', 'Sirohi', 'Тоnk',
       'Udaipur', 'Вarmer', 'Bikaner', 'Churu', 'Наnumangarh',
       'Jaisalmer', 'Јаlore', 'Jodhpur', 'Nagaur', 'Раli', 'Ganganagar',
       'Jaipur', 'Tonk', 'Hanumangarh', 'Barmer', 'Jalore', 'Pali',
       'Baran', 'Rajsamand'], dtype=object)

In [16]:
df1.District.replace({'Rajsamamd':'Rajsamand','Baran':'Ваran','Jaipur':'Јаipur','Jalore':'Јаlore','Barmer':'Вarmer',
                    'Hanumangarh':'Наnumangarh','Тоnk':'Tonk','Pali':'Раli'}, regex=True, inplace=True)

In [17]:
df1.District.value_counts()

Dausa             7
Jhalawar          7
Bhilwara          7
Bharatpur         7
Bikaner           7
Karauli           7
Јаlore            7
Наnumangarh       7
Dungarpur         7
Ganganagar        7
Dholpur           7
Udaipur           7
Banswara          7
Chittorgarh       7
Вarmer            7
Rajsamand         7
Јаipur            7
Sirohi            7
Раli              7
Sawai Madhopur    7
Tonk              7
Sikar             7
Alwar             7
Ajmer             7
Kota              7
Jodhpur           7
Jhunjhunu         7
Churu             7
Jaisalmer         7
Bundi             7
Ваran             7
Nagaur            7
Pratapgarh        3
Name: District, dtype: int64

In [18]:
df1.District.unique()

array(['Ajmer', 'Alwar', 'Banswara', 'Ваran', 'Bharatpur', 'Bhilwara',
       'Bundi', 'Chittorgarh', 'Dausa', 'Dholpur', 'Dungarpur', 'Јаipur',
       'Jhalawar', 'Jhunjhunu', 'Karauli', 'Kota', 'Pratapgarh',
       'Rajsamand', 'Sawai Madhopur', 'Sikar', 'Sirohi', 'Tonk',
       'Udaipur', 'Вarmer', 'Bikaner', 'Churu', 'Наnumangarh',
       'Jaisalmer', 'Јаlore', 'Jodhpur', 'Nagaur', 'Раli', 'Ganganagar'],
      dtype=object)

In [19]:
df1.drop(df1[df1["District"]=="Pratapgarh"].index,inplace=True)

In [20]:
df1.District.value_counts()

Dausa             7
Sirohi            7
Bhilwara          7
Bharatpur         7
Bikaner           7
Karauli           7
Јаlore            7
Наnumangarh       7
Dungarpur         7
Ganganagar        7
Dholpur           7
Udaipur           7
Banswara          7
Chittorgarh       7
Вarmer            7
Rajsamand         7
Jhalawar          7
Јаipur            7
Раli              7
Sawai Madhopur    7
Tonk              7
Sikar             7
Ajmer             7
Alwar             7
Kota              7
Jodhpur           7
Jhunjhunu         7
Churu             7
Jaisalmer         7
Bundi             7
Ваran             7
Nagaur            7
Name: District, dtype: int64

MERGING THE 2 DATA FRAMES

In [21]:
frames = [df,df1]
res = pd.concat(frames)

In [22]:
res.head()

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
0,Rajasthan,Ajmer,2004,2.3,0.0,0.0,0.0,13.4,21.1,120.4,282.5,15.4,11.6,0.0,0.0,466.7
1,Rajasthan,Ajmer,2005,0.2,2.9,9.5,28.1,2.4,57.0,148.1,79.9,170.6,0.0,0.0,0.0,498.7
2,Rajasthan,Ajmer,2006,0.0,0.0,0.7,0.0,29.0,48.3,101.7,219.4,43.4,0.1,0.0,0.0,442.6
3,Rajasthan,Ajmer,2007,0.4,10.6,4.5,0.5,0.9,47.1,172.9,92.6,46.3,0.0,0.0,1.8,377.6
4,Rajasthan,Ajmer,2008,0.0,0.0,0.4,5.7,15.4,89.7,86.4,189.7,85.9,19.1,0.0,0.0,492.3

In [23]:
res.Year.unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2015, 2016, 2017, 2011, 2012, 2013, 2014], dtype=int64)

In [24]:
res.Year.value_counts()

2017    32
1986    32
1962    32
1964    32
1966    32
        ..
1947    32
1949    32
1951    32
1953    32
1902    32
Name: Year, Length: 117, dtype: int64

In [25]:
res.District.value_counts()

Dausa             117
Nagaur            117
Udaipur           117
Jhunjhunu         117
Ajmer             117
Bundi             117
Bhilwara          117
Alwar             117
Sirohi            117
Bikaner           117
Chittorgarh       117
Sawai Madhopur    117
Jhalawar          117
Churu             117
Jaisalmer         117
Sikar             117
Bharatpur         117
Kota              117
Jodhpur           117
Rajsamand         117
Banswara          117
Dholpur           117
Dungarpur         117
Ganganagar        117
Karauli           117
Tonk              117
Pali              110
Jalore            110
Baran             110
Jaipur            110
Barmer            110
Hanumangarh       110
Наnumangarh         7
Ваran               7
Јаlore              7
Раli                7
Вarmer              7
Јаipur              7
Name: District, dtype: int64

In [26]:
res.District.unique()

array(['Ajmer', 'Alwar', 'Banswara', 'Baran', 'Barmer', 'Bharatpur',
       'Bhilwara', 'Bikaner', 'Bundi', 'Chittorgarh', 'Churu', 'Dausa',
       'Dholpur', 'Dungarpur', 'Hanumangarh', 'Jaipur', 'Jaisalmer',
       'Jalore', 'Jhalawar', 'Jhunjhunu', 'Jodhpur', 'Karauli', 'Kota',
       'Nagaur', 'Pali', 'Rajsamand', 'Sawai Madhopur', 'Sikar', 'Sirohi',
       'Ganganagar', 'Tonk', 'Udaipur', 'Ваran', 'Јаipur', 'Вarmer',
       'Наnumangarh', 'Јаlore', 'Раli'], dtype=object)

In [27]:
res.replace({'Baran':'Ваran','Barmer':'Вarmer','Pali':'Раli','Jalore':'Јаlore','Jaipur':'Јаipur',
             'Hanumangarh':'Наnumangarh'},regex=True,inplace=True)

In [28]:
res.District.unique()

array(['Ajmer', 'Alwar', 'Banswara', 'Ваran', 'Вarmer', 'Bharatpur',
       'Bhilwara', 'Bikaner', 'Bundi', 'Chittorgarh', 'Churu', 'Dausa',
       'Dholpur', 'Dungarpur', 'Наnumangarh', 'Јаipur', 'Jaisalmer',
       'Јаlore', 'Jhalawar', 'Jhunjhunu', 'Jodhpur', 'Karauli', 'Kota',
       'Nagaur', 'Раli', 'Rajsamand', 'Sawai Madhopur', 'Sikar', 'Sirohi',
       'Ganganagar', 'Tonk', 'Udaipur'], dtype=object)

In [29]:
res.District.value_counts()

Dausa             117
Jhalawar          117
Jhunjhunu         117
Вarmer            117
Ajmer             117
Bundi             117
Bhilwara          117
Ваran             117
Alwar             117
Sirohi            117
Bikaner           117
Chittorgarh       117
Sawai Madhopur    117
Sikar             117
Churu             117
Jaisalmer         117
Nagaur            117
Bharatpur         117
Dholpur           117
Tonk              117
Раli              117
Јаlore            117
Karauli           117
Ganganagar        117
Kota              117
Наnumangarh       117
Dungarpur         117
Banswara          117
Rajsamand         117
Јаipur            117
Jodhpur           117
Udaipur           117
Name: District, dtype: int64

### ADDING 2018 AND 2019 DATA

In [30]:
for i in res.District.value_counts().index:
    x = list(res[res['District']==i].mean(axis=0))
    x[0] = 2018
    x.insert(0,"Rajasthan")
    x.insert(1,i)
    res.loc[len(res.index)] = x

In [31]:
res.tail(32)

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
3744,Rajasthan,Dausa,2018,5.187746,6.419326,4.335981,4.346987,11.691447,62.132933,235.884975,215.794909,97.870424,9.792827,6.762795,3.611796,663.878298
3745,Rajasthan,Jhalawar,2018,4.766029,1.963539,3.031033,1.499032,5.772301,100.420554,320.026571,282.121766,182.181089,18.231364,20.500786,4.208876,944.722939
3746,Rajasthan,Jhunjhunu,2018,6.319955,9.033827,5.434184,7.100622,16.428513,43.848965,159.134205,133.044490,62.303491,5.104489,4.991606,3.890045,456.634390
3747,Rajasthan,Вarmer,2018,1.106556,2.456862,3.317328,2.675977,4.075053,26.925610,100.055307,93.189116,47.845239,7.348610,4.773912,1.217635,294.987204
3748,Rajasthan,Ajmer,2018,3.157213,3.201836,4.867056,4.049890,9.874344,55.361573,178.437808,167.755347,86.933508,8.781106,8.725178,2.298774,533.443635
3749,Rajasthan,Bundi,2018,4.768565,2.684334,4.865609,1.835413,8.003837,71.093494,236.745930,233.782900,123.440207,13.990467,14.513876,2.896659,718.621290
3750,Rajasthan,Bhilwara,2018,3.049108,2.670478,5.807007,2.485950,9.640196,68.368411,202.421909,197.422253,109.485290,11.141112,14.659405,2.288976,629.440094
3751,Rajasthan,Ваran,2018,6.616889,2.791830,3.611022,1.939803,5.268209,81.653233,276.587899,267.215113,151.692871,16.294032,14.480074,3.407244,831.558218
3752,Rajasthan,Alwar,2018,7.813718,10.183262,7.888701,6.417028,13.683747,54.380313,206.190615,191.771013,92.061191,8.010383,5.960071,4.162079,608.522120
3753,Rajasthan,Sirohi,2018,2.786809,1.672201,3.472178,1.995040,6.593609,57.638280,251.363868,194.171377,109.135078,10.089802,7.887982,2.613753,649.419977
3754,Rajasthan,Bikaner,2018,3.377657,6.124757,5.744460,10.409181,11.173965,28.235027,81.082636,73.485636,33.777883,2.742504,1.451280,2.501559,260.106545
3755,Rajasthan,Chittorgarh,2018,2.630485,1.605080,3.938055,1.951332,8.394765,92.460721,266.887164,254.005603,145.984465,17.617419,17.752891,2.589948,815.817929
3756,Rajasthan,Sawai Madhopur,2018,5.621890,4.535711,3.919819,3.425675,9.688635,65.152207,252.751283,238.525605,108.223804,11.263896,9.460534,2.885621,715.454678
3757,Rajasthan,Sikar,2018,5.456519,7.567957,4.801015,6.823601,14.004853,47.233230,169.931277,137.012708,62.713572,5.983781,5.248307,3.428743,470.205562
3758,Rajasthan,Churu,2018,5.404847,7.464310,5.910092,9.398879,14.383460,37.497208,121.333739,102.755543,46.057577,4.206329,2.820903,3.693932,360.926819
3759,Rajasthan,Jaisalmer,2018,1.647735,4.460147,3.669638,3.344010,4.109764,20.543779,58.427078,60.654268,25.899757,3.057790,1.694844,2.378971,189.904874
3760,Rajasthan,Nagaur,2018,3.601561,5.036217,4.311991,6.493413,10.713830,41.373704,139.904085,124.051477,58.312254,6.560621,4.698795,1.890325,406.948273
3761,Rajasthan,Bharatpur,2018,8.240111,6.988924,5.086068,5.088871,11.540050,53.382672,234.656479,234.358713,106.724789,9.260262,6.276175,4.140542,685.743657
3762,Rajasthan,Dholpur,2018,8.197834,5.813418,4.591424,3.859223,9.695101,53.471860,267.482486,265.575875,120.228036,13.413771,7.278907,3.643406,763.251341
3763,Rajasthan,Tonk,2018,4.155123,2.781329,4.761088,2.795336,9.432450,59.623839,215.617460,205.798717,101.186246,9.558138,9.481214,3.140633,628.331575
3764,Rajasthan,Раli,2018,2.838094,2.350118,4.023071,3.372264,7.885843,50.023329,181.461447,165.539057,86.080637,9.132747,7.019789,1.080744,520.807139
3765,Rajasthan,Јаlore,2018,1.684599,1.707640,3.214305,1.710519,4.995174,44.067174,169.214640,136.807593,74.861500,11.164797,6.401451,1.304589,457.132272
3766,Rajasthan,Karauli,2018,6.685745,5.627529,4.155581,3.604338,10.517899,62.716533,263.766947,250.579319,109.298588,10.956348,9.127701,3.138960,740.175489
3767,Rajasthan,Ganganagar,2018,4.182351,8.303037,8.019435,9.896807,9.855847,24.244447,70.064775,63.365185,31.373527,1.944500,1.570747,4.038207,236.858865
3768,Rajasthan,Kota,2018,5.806645,2.350774,3.978435,1.820120,6.573543,80.231424,259.808843,259.529603,143.045926,17.823583,15.877722,3.084183,799.931656
3769,Rajasthan,Наnumangarh,2018,5.706674,8.156853,7.438886,8.913998,11.553436,31.472023,95.291080,86.333360,40.039734,2.795700,1.970884,3.931725,303.604353
3770,Rajasthan,Dungarpur,2018,2.273286,0.525380,1.453056,2.095378,8.189893,108.886411,332.437883,277.159430,147.481532,11.576514,10.427065,1.677487,904.183315
3771,Rajasthan,Banswara,2018,1.077485,0.684956,1.996432,1.503745,5.939151,118.668553,326.131574,291.052324,170.457666,14.116166,12.848687,2.034207,946.510945
3772,Rajasthan,Rajsamand,2018,4.631615,2.740772,6.392305,3.575536,8.592655,60.878456,202.743583,186.894879,107.767209,9.717438,12.983079,1.488287,608.405817
3773,Rajasthan,Јаipur,2018,5.055006,6.232530,4.885132,4.908024,12.446206,61.378589,216.164259,197.777515,85.459755,9.096545,5.907551,3.686861,612.997974
3774,Rajasthan,Jodhpur,2018,2.021466,4.542229,3.644994,5.521912,8.153680,31.901123,101.213094,101.090601,49.453250,5.130486,4.006206,1.233612,317.912654
3775,Rajasthan,Udaipur,2018,3.415209,1.351027,3.355326,2.334062,8.744996,83.857169,278.854635,243.649055,136.114996,10.629399,11.592385,1.894545,785.792803

In [32]:
for i in res.District.value_counts().index:
    x = list(res[res['District']==i].mean(axis=0))
    x[0] = 2019
    x.insert(0,"Rajasthan")
    x.insert(1,i)
    res.loc[len(res.index)] = x

In [33]:
res.tail(32)

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
3776,Rajasthan,Dausa,2019,5.187746,6.419326,4.335981,4.346987,11.691447,62.132933,235.884975,215.794909,97.870424,9.792827,6.762795,3.611796,663.878298
3777,Rajasthan,Jhalawar,2019,4.766029,1.963539,3.031033,1.499032,5.772301,100.420554,320.026571,282.121766,182.181089,18.231364,20.500786,4.208876,944.722939
3778,Rajasthan,Jhunjhunu,2019,6.319955,9.033827,5.434184,7.100622,16.428513,43.848965,159.134205,133.044490,62.303491,5.104489,4.991606,3.890045,456.634390
3779,Rajasthan,Вarmer,2019,1.106556,2.456862,3.317328,2.675977,4.075053,26.925610,100.055307,93.189116,47.845239,7.348610,4.773912,1.217635,294.987204
3780,Rajasthan,Ajmer,2019,3.157213,3.201836,4.867056,4.049890,9.874344,55.361573,178.437808,167.755347,86.933508,8.781106,8.725178,2.298774,533.443635
3781,Rajasthan,Bundi,2019,4.768565,2.684334,4.865609,1.835413,8.003837,71.093494,236.745930,233.782900,123.440207,13.990467,14.513876,2.896659,718.621290
3782,Rajasthan,Bhilwara,2019,3.049108,2.670478,5.807007,2.485950,9.640196,68.368411,202.421909,197.422253,109.485290,11.141112,14.659405,2.288976,629.440094
3783,Rajasthan,Ваran,2019,6.616889,2.791830,3.611022,1.939803,5.268209,81.653233,276.587899,267.215113,151.692871,16.294032,14.480074,3.407244,831.558218
3784,Rajasthan,Alwar,2019,7.813718,10.183262,7.888701,6.417028,13.683747,54.380313,206.190615,191.771013,92.061191,8.010383,5.960071,4.162079,608.522120
3785,Rajasthan,Sirohi,2019,2.786809,1.672201,3.472178,1.995040,6.593609,57.638280,251.363868,194.171377,109.135078,10.089802,7.887982,2.613753,649.419977
3786,Rajasthan,Bikaner,2019,3.377657,6.124757,5.744460,10.409181,11.173965,28.235027,81.082636,73.485636,33.777883,2.742504,1.451280,2.501559,260.106545
3787,Rajasthan,Chittorgarh,2019,2.630485,1.605080,3.938055,1.951332,8.394765,92.460721,266.887164,254.005603,145.984465,17.617419,17.752891,2.589948,815.817929
3788,Rajasthan,Sawai Madhopur,2019,5.621890,4.535711,3.919819,3.425675,9.688635,65.152207,252.751283,238.525605,108.223804,11.263896,9.460534,2.885621,715.454678
3789,Rajasthan,Sikar,2019,5.456519,7.567957,4.801015,6.823601,14.004853,47.233230,169.931277,137.012708,62.713572,5.983781,5.248307,3.428743,470.205562
3790,Rajasthan,Churu,2019,5.404847,7.464310,5.910092,9.398879,14.383460,37.497208,121.333739,102.755543,46.057577,4.206329,2.820903,3.693932,360.926819
3791,Rajasthan,Jaisalmer,2019,1.647735,4.460147,3.669638,3.344010,4.109764,20.543779,58.427078,60.654268,25.899757,3.057790,1.694844,2.378971,189.904874
3792,Rajasthan,Nagaur,2019,3.601561,5.036217,4.311991,6.493413,10.713830,41.373704,139.904085,124.051477,58.312254,6.560621,4.698795,1.890325,406.948273
3793,Rajasthan,Bharatpur,2019,8.240111,6.988924,5.086068,5.088871,11.540050,53.382672,234.656479,234.358713,106.724789,9.260262,6.276175,4.140542,685.743657
3794,Rajasthan,Dholpur,2019,8.197834,5.813418,4.591424,3.859223,9.695101,53.471860,267.482486,265.575875,120.228036,13.413771,7.278907,3.643406,763.251341
3795,Rajasthan,Tonk,2019,4.155123,2.781329,4.761088,2.795336,9.432450,59.623839,215.617460,205.798717,101.186246,9.558138,9.481214,3.140633,628.331575
3796,Rajasthan,Раli,2019,2.838094,2.350118,4.023071,3.372264,7.885843,50.023329,181.461447,165.539057,86.080637,9.132747,7.019789,1.080744,520.807139
3797,Rajasthan,Јаlore,2019,1.684599,1.707640,3.214305,1.710519,4.995174,44.067174,169.214640,136.807593,74.861500,11.164797,6.401451,1.304589,457.132272
3798,Rajasthan,Karauli,2019,6.685745,5.627529,4.155581,3.604338,10.517899,62.716533,263.766947,250.579319,109.298588,10.956348,9.127701,3.138960,740.175489
3799,Rajasthan,Ganganagar,2019,4.182351,8.303037,8.019435,9.896807,9.855847,24.244447,70.064775,63.365185,31.373527,1.944500,1.570747,4.038207,236.858865
3800,Rajasthan,Kota,2019,5.806645,2.350774,3.978435,1.820120,6.573543,80.231424,259.808843,259.529603,143.045926,17.823583,15.877722,3.084183,799.931656
3801,Rajasthan,Наnumangarh,2019,5.706674,8.156853,7.438886,8.913998,11.553436,31.472023,95.291080,86.333360,40.039734,2.795700,1.970884,3.931725,303.604353
3802,Rajasthan,Dungarpur,2019,2.273286,0.525380,1.453056,2.095378,8.189893,108.886411,332.437883,277.159430,147.481532,11.576514,10.427065,1.677487,904.183315
3803,Rajasthan,Banswara,2019,1.077485,0.684956,1.996432,1.503745,5.939151,118.668553,326.131574,291.052324,170.457666,14.116166,12.848687,2.034207,946.510945
3804,Rajasthan,Rajsamand,2019,4.631615,2.740772,6.392305,3.575536,8.592655,60.878456,202.743583,186.894879,107.767209,9.717438,12.983079,1.488287,608.405817
3805,Rajasthan,Јаipur,2019,5.055006,6.232530,4.885132,4.908024,12.446206,61.378589,216.164259,197.777515,85.459755,9.096545,5.907551,3.686861,612.997974
3806,Rajasthan,Jodhpur,2019,2.021466,4.542229,3.644994,5.521912,8.153680,31.901123,101.213094,101.090601,49.453250,5.130486,4.006206,1.233612,317.912654
3807,Rajasthan,Udaipur,2019,3.415209,1.351027,3.355326,2.334062,8.744996,83.857169,278.854635,243.649055,136.114996,10.629399,11.592385,1.894545,785.792803

In [34]:
res.shape

(3808, 16)

## DROPPING ROWS THAT ARE NOT REQUIRED

In [35]:
m = res[(res.Year >= 1901) & (res.Year <= 1996)].index
res.drop(m,inplace=True)

In [36]:
res.Year.unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2015, 2016, 2017, 2011, 2012, 2013, 2014, 2018,
       2019], dtype=int64)

In [37]:
res.shape

(733, 16)

In [38]:
res.head()

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
0,Rajasthan,Ajmer,2004,2.3,0.0,0.0,0.0,13.4,21.1,120.4,282.5,15.4,11.6,0.0,0.0,466.7
1,Rajasthan,Ajmer,2005,0.2,2.9,9.5,28.1,2.4,57.0,148.1,79.9,170.6,0.0,0.0,0.0,498.7
2,Rajasthan,Ajmer,2006,0.0,0.0,0.7,0.0,29.0,48.3,101.7,219.4,43.4,0.1,0.0,0.0,442.6
3,Rajasthan,Ajmer,2007,0.4,10.6,4.5,0.5,0.9,47.1,172.9,92.6,46.3,0.0,0.0,1.8,377.6
4,Rajasthan,Ajmer,2008,0.0,0.0,0.4,5.7,15.4,89.7,86.4,189.7,85.9,19.1,0.0,0.0,492.3

EXPORTING FILE

In [39]:
res.sort_values(['District','Year'],inplace=True)

In [40]:
res.to_excel("Rainfall_1997_to_2019.xlsx",index=False)